/* --------------------------------------------
  MODERN LIGHTWEIGHT RESET (Universal 2025)
---------------------------------------------*/
*, *::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  /* COLOR SYSTEM */
  --color-white: #fff;
  --color-black: #000;

  --bg: #F2F3F9;
  --card-border: #e5e7eb;

  --text-primary: #111827;
  --text-secondary: #6b7280;

  --sidebar-bg: #F2F3F9;
  --sidebar-active-bg: #d0d6f0;
  --sidebar-text-active: #687be7;
  --sidebar-text-inactive: #9CA3AF;
  --sidebar-section-label: #AEB5C4;

  --color-gray-300: #dee2e6;

  /* FONT SYSTEM */
  --font-sans: 'Nunito', sans-serif;

  --fs-xs: 0.75rem;
  --fs-sm: 0.95rem;
  --fs-base: 1rem;  /* 16px */
  --fs-lg: 1.25rem; /* 20px */
  --fs-xl: 1.5rem;  /* 24px */
  --fs-2xl: 2rem;   /* 32px */
  --fs-3xl: 2.5rem; /* 40px */
  --fs-4xl: 3rem;   /* 48px */

  /* SHADOWS */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 6px 6px -2px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.15);
}

html {
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-sans);
}

img, picture,
svg {
  display: block;
  max-width: 100%;
}

input, button {
  font: inherit;
}

ul, ol {
  list-style: none;
}

p, h1, h2,
h3, h4 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 4fr;
  background: #f5f7fa;
}

/* ------------ SideBar -------------- */
aside {
  grid-column: 1/2;
  grid-row: 1/3;
  padding: 1rem;
  display: grid;
  grid-template-rows: 50px 350px 200px;
  align-items: flex-start;
  gap: 3rem;
  height: 100vh;
  background: var(--sidebar-bg);
  color: var(--sidebar-text-inactive);
  box-shadow: var(--shadow-lg);
  border-radius: 5px;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  color: var(--sidebar-text-active);
  cursor: pointer;
}

.logo a {
  color: var(--sidebar-text-active);
}

.main-links > ul,
.settings-links > ul {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
}

.main-links > ul > li,
.settings-links > ul > li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
  font-size: var(--fs-);
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.main-links > ul > li:hover,
.settings-links > ul > li:hover {
  background-color: var(--sidebar-active-bg);
  color: var(--sidebar-text-active);
}


/* ------------ Header -------------- */
header {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  gap: 1rem;
  padding: 1rem 2rem;
  box-shadow: var(--shadow-md);
}

.search {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.search > div:nth-child(1) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-field {
  width: 500px;
  border-radius: 100px;
  border: none;
  background: var(--color-gray-300);
  padding: 0.3rem 1rem;
}

.search__last-child {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  font-weight: bold;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.buttons a {
  font-weight: bold;
  background-color: var(--sidebar-active-bg);
  color: var(--sidebar-text-active);
  padding: 0.6rem 2rem;
  border-radius: 300px;
  transition: scale 0.3s ease;
}

.buttons a:active {
  scale: 0.9;
}

.profile {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.user-profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  line-height: 1.2;
}

.user-profile p {
  font-size: var(--fs-xs);
  font-weight: bold;
}

.user-name {
  font-size: var(--fs-xl);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
}


/* ------------ MAIN -------------- */
main {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 660px 1fr;
  gap: 1rem;
  padding: 1rem;
}

.projects__showcase {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  font-size: var(--fs-sm);
}

.projects__grid {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: var(--shadow-md);
}

.projects__grid::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: var(--sidebar-text-active);
  border-radius: 10px 0 0 10px;
}

.projects__grid > div > p {
  color: var(--text-secondary);
}

.social-links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.announcements {
  display: grid;
  grid-template-rows: 320px 1fr;
}

.announcement-content {
  font-size: var(--fs-xs);
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: var(--shadow-md);
}

.announcement-content > div > p {
  color: var(--text-secondary);
}

hr {
  border: 1px solid var(--card-border);
}

.trending-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  padding: 1rem 2rem;
  margin-top: 0.5rem;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: var(--shadow-md);
}

.trending-grid > div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}