/* --------------------------------------------
  MODERN LIGHTWEIGHT RESET (Universal 2025)
---------------------------------------------*/
*, *::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  /* COLOR SYSTEM */
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #4f46e5;
  --color-primary-dark: #4338ca;
  --color-primary-light: #6366f1;

  --color-gray-800: #343a40;
  --color-gray-900: #212529;

  /* FONT SYSTEM */
  --font-sans: 'Open Sans', sans-serif;

  --fs-xs: 0.75rem; /* 12px */
  --fs-base: 1rem;  /* 16px */
  --fs-lg: 1.25rem; /* 20px */
  --fs-xl: 1.5rem;  /* 24px */
  --fs-2xl: 2rem;   /* 32px */
  --fs-3xl: 2.5rem; /* 40px */
  --fs-4xl: 3rem;   /* 48px */

  /* SHADOWS */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.15);
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-sans);
}

img, picture,
svg {
  display: block;
  max-width: 100%;
}

input, button {
  font: inherit;
}

ul, ol {
  list-style: none;
}

p, h1, h2,
h3, h4 {
  overflow-wrap: break-word;
}

aside, header, main {
  border: 2px solid salmon;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

aside {
  grid-column: 1/2;
  grid-row: 1/3;
}

header {
  grid-column: 2/3;
  grid-row: 1/2;
}

main {
  grid-column: 2/3;
  grid-row: 2/3;
}